<section id="Producto" class="pt-lg-6 pt-4 pb-lg-6 pb-5 position-relative overflow-hidden">
    <div class="container">
        <div class="row align-items-center mb-6 pb-lg-5">
            <div class="col-lg-5">
                <div class="mt-4 mb-lg-0">
                    <span class="badge rounded-pill badge-soft-danger px-2 py-1"></span>
                    <h2 class="display-3 fw-medium mb-3">Vista general</h2>
                    <p class="text-muted mx-auto mb-4 pb-3">
                        La plataforma perfecta para transformar y simplificar la gestión de tu negocio.
                    </p>
                    <a [routerLink]="['.']" class="btn btn-outline-primary">
                        Conoce más <i class="icon-xxs ms-1" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <img src="assets/images/features/buqipi_dash/dash1.png" alt="" class="img-fluid" data-aos="fade-left"
                    data-aos-duration="1000" />
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="bg-white p-2 rounded mb-lg-0 mb-3" data-aos="fade-right"
                    data-aos-duration="1500">
                    <img src="assets/images/features/buqipi_dash/dash2.png" alt="" class="img-fluid" />
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <div class="mt-2 mt-lg-0">
                    <h2 class="display-3 fw-medium mb-3">Planing y Reservas</h2>
                    <p class="text-muted mx-auto mb-4 pb-3">
                        Un sistema completo, fiable y diseñado para optimizar tu Planning & Reservas
                    </p>
                    <a [routerLink]="['']" class="btn btn-outline-primary">
                        Conoce más <i class="icon-xxs ms-1" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row align-items-center mt-5 pb-lg-5">
            <div class="col-lg-5 mt-5">
                <div class="mt-5 mt-lg-2">
                    <span class="badge rounded-pill badge-soft-danger px-2 py-1"></span>
                    <h2 class="display-3 fw-medium mb-3">Tarifas e Inventario</h2>
                    <p class="text-muted mx-auto mb-4 pb-3">
                        La plataforma perfecta para transformar y simplificar la gestión de tu negocio.
                    </p>
                    <a [routerLink]="['.']" class="btn btn-outline-primary">
                        Conoce más <i class="icon-xxs ms-1" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
            <div  class="col-lg-6 offset-lg-1">
                <img src="assets/images/features/buqipi_dash/dash3.png" alt="" class="img-fluid" data-aos="fade-left"
                    data-aos-duration="1000" />
            </div>
        </div>
    </div>
</section >
<section id="Caracteristicas" class="section py-4 py-sm-8 bg-gradient3 position-relative" data-aos="fade-up">
    <div class="divider top d-none d-sm-block"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h5 class="fs-15 text-muted pt-3">CÓNECTIVIDAD CON CANALES DE VENTA</h5>
                <h2 class="display-2 fw-semibold mb-4">Conéctalos todos.</h2>
                <p class="mb-5">
                    Gracias a los acuerdos e integraciones con las diferentes plataformas, podrás sincronizar tarifas, disponibilidad y contenido entre todas las plataformas.
                </p>
                <a [routerLink]="['.']" class="btn btn-primary">
                    Conoce más <i class="icon-xs ms-2" data-feather="arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-6  offset-lg-1">
                <img src="assets/images/features/buqipi_dash/animacionbq.gif" alt=""
                    class="img-fluid d-block mx-auto mt-4 mt-lg-0" data-aos="fade-left"
                    data-aos-duration="1000" />
            </div>
        </div>

        
    </div>
    
</section>

<section class="pt-lg-6 pt-4 pb-lg-6 pb-5  position-relative overflow-hidden">
    <div class="container">
        

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="bg-white p-2 rounded mb-lg-0 mb-3" data-aos="fade-right"
                    data-aos-duration="1500">
                    <img src="assets/animacions/anmcobro.gif" alt="" class="img-fluid" />
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <div class="mt-4 mt-lg-0">
                    <h5 class="text-muted mx-auto mb-1 pb-2">CARGOS AUTOMÁTICOS</h5>
                    <h2 class="display-3 fw-medium mb-3">Céntrate en lo <span class="highlight highlight-success d-inline-block">importante.</span></h2>
                    <p class="text-muted mx-auto mb-4 pb-3">
                        Programa y automatiza cobros, envío de links de pago y mucho más. Ahora, con Tap to Pay, convierte tu smartphone en un TPV.
                    </p>
                    <a [routerLink]="['']" class="btn btn-outline-primary">
                        Conoce más <i class="icon-xxs ms-1" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>

        
    </div>
</section>
<section class="section py-4 py-sm-8 bg-gradient3 position-relative">
    
    <div class="container">
    <div class="row align-items-center mb-6 pb-lg-5">
        <div class="col-lg-5">
            <div class="mt-4 mb-lg-0">
                <h5 class="text-muted mx-auto mb-1 pb-2">CHECK-IN ONLINE</h5>
                    <h2 class="display-2 fw-medium mb-3">+ <span class="highlight highlight-success d-inline-block">Fácil </span>
                        
                    </h2>
                    <h2 class="display-2 fw-medium mb-3">+ <span class=" d-inline-block">Seguro </span>
                        
                    </h2>
                <p class="text-muted mx-auto mb-4 pb-3">
                    Envía un enlace al cliente y mejorarás en un 40% los tiempos de Check-In. ¿Tienes una recepción física?, conectamos con Wacom para proporcionar un proceso de firma seguro.
                </p>
                <a [routerLink]="['.']" class="btn btn-outline-primary">
                    Conoce más <i class="icon-xxs ms-1" data-feather="arrow-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
            <img src="assets/animacions/anmfacil.gif" alt="" class="img-fluid m-lg-5" data-aos="fade-up"
                data-aos-duration="1000" />
        </div>
        
    </div>
    </div>
</section>
<section class="pt-lg-6 pt-4 pb-lg-6 pb-5  position-relative overflow-hidden">
    <div class="container">
        

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="bg-white p-2 rounded mb-lg-0 mb-3" data-aos="fade-up"
                    data-aos-duration="1500">
                    <img src="assets/animacions/ils_21.svg" alt="" class="img-fluid" />
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <div class="mt-4 mt-lg-0">
                    
                    <h2 class="display-2 fw-medium mb-3">¿Por qué <span class="highlight highlight-success d-inline-block">escogernos?</span></h2>
                    <p class="text-muted mx-auto mb-4 pb-3">
                        Sistema intuitivo, seguro, completo y con infinitas posibilidades para tu establecimiento.
                    </p>
                    <a [routerLink]="['']" class="btn btn-outline-primary">
                        Conoce más <i class="icon-xxs ms-1" data-feather="arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>

        
    </div>
</section>


