<app-navbar-3
  navClass="bg-white navbar-light zindex-10"
  [fixedWidth]="true"
  [sticky]="true"
  ctaButtonClass="btn-warning btn-sm"
></app-navbar-3>

<section>
    <div class="container-fluid mt5">
        <div class="row">
          
              
          <main class="col-md-5 ms-sm-auto col-lg-10 px-md-4">
            <div  class="mt-3">
              <h2>Política de privacidad</h2>
              <p><strong>Última actualización:</strong> 17/03/2023</p>
              <h4>1. Datos del propietario de la web</h4>
              <ul class="list-group">
                <li class="list-group-item"><a>Razón Social: CREATIVETECNO IBERIA, S.L.</a></li>
                <li class="list-group-item"><a>NIF: B16768046</a></li>
                <li class="list-group-item"><a>Dominios: www.buqipi.com, www.creativetecno.com, www.creativetecno.es, www.creativetecno.net</a></li>
                <li class="list-group-item"><a >Dirección Postal: Paseo de la Castellana, 194. BJ, B. 28046. Madrid. España.</a></li>
                <li class="list-group-item"><a >Dirección Electrónica: legal@creativetecno.com.</a></li>
                <li class="list-group-item"><a >Teléfono: +34 910 602 782</a></li>
                <li class="list-group-item"><a >Registro: Registro Mercantil de Madrid. T 45748 , F 14, S 8, H M 804160, I/A 2</a></li>
              </ul>
              <h4>
                Protección de datos
              </h4>
              <p>
                De conformidad con la normativa vigente y aplicable en protección de datos de carácter personal, le informamos que sus datos serán incorporados al sistema de tratamiento titularidad de CREATIVETECNO IBERIA SL con NIF B16768046 y domicilio sito en Paseo de la Castellana, 194. BJ, B. 28046. Madrid. España., y que a continuación se relacionan sus respectivas finalidades, plazos de conservación y bases legitimadoras:
              </p>
              <h4>TRATAMIENTOS REALIZADOS</h4>
              <ul class="list-group">
                <li class="list-group-item">
                <a>Acciones comerciales formulario web:
                    Finalidad: Captación, registro y tratamiento de datos con finalidades de atender sus consultas y/o solicitudes, así como de publicidad y prospección comercial
                    Plazo de conservación: mientras se mantenga el consentimiento prestado, salvo obligación legal.
                    Base legítima: El consentimiento del interesado.
                    Tipología de Datos: Datos básicos: Nombre y apellidos, Dirección electrónica</a></li>
                <li class="list-group-item"><a >Gestión usuarios web:
                    Finalidad: Captación, registro y tratamiento de datos del usuario
                    Plazo de conservación: mientras se mantenga el consentimiento prestado, salvo obligación legal.
                    Base legítima: El consentimiento del interesado.
                    Tipología de Datos: Datos básicos: Nombre y apellidos, Dirección electrónica</a></li>
                <li class="list-group-item"><a >Newsletter:
                    Finalidad: Gestión de la suscripción a la newsletter, para realizar los envíos correspondientes
                    Plazo de conservación: mientras se mantenga el consentimiento prestado.
                    Base legítima: El consentimiento del interesado.
                    Tipología de Datos: Datos básicos: Nombre y apellidos, Dirección electrónica</a></li>
                <li class="list-group-item"><a >Instalación de cookies:
                    Finalidad: Gestión e instalación de las cookies
                    Plazo de conservación: mientras se mantenga el consentimiento prestado.
                    Base legítima: El consentimiento del interesado.
                    Tipología de Datos: Datos básicos: Dirección electrónica, Dirección IP</a></li>
                <li class="list-group-item"><a >Gestión Formulario web:
                    Finalidad: Atender sus consultas y/o solicitudes
                    Plazo de conservación: mientras se mantenga el consentimiento prestado.
                    Base legítima: El consentimiento del interesado.
                    Tipología de Datos: Datos básicos: Nombre y apellidos, Dirección electrónica, Dirección IP</a></li>
                
              </ul>
              <h4>Derechos de los interesados</h4>
              <p>
                CREATIVETECNO IBERIA SL informa a los Usuarios que, podrá ejercer los derechos de acceso, rectificación, limitación, supresión, portabilidad, oposición al tratamiento de sus datos de carácter personal y el derecho a no ser objeto de decisiones automatizadas, incluida la elaboración de perfiles, ante el Responsable del Tratamiento, así como a la retirada del consentimiento prestado.
              </p>

             <ul class="list-group">
                <li class="list-group-item"><a>Derecho de Acceso: Es el derecho del usuario a obtener confirmación sobre si se están tratando sus datos y, en tal caso, los concretos datos personales tratados y la información legal del tratamiento (finalidades, base legitimadora, plazos de conservación, cesiones, origen de los datos, etc.).</a></li>
                <li class="list-group-item"><a>Derecho de Rectificación: Es el derecho del afectado a que se modifiquen los datos que resulten ser inexactos o incompletos. En relación a la página web, sólo podrá satisfacerse en relación a aquella información que se encuentre bajo el control del sitio web, por ejemplo, eliminar comentarios publicados en la propia página, imágenes o contenidos web donde consten datos de carácter personal del usuario.</a></li>
                <li class="list-group-item"><a>Derecho a la Limitación de tratamiento: Es el derecho a que se limiten los fines del tratamiento previstos de forma original por el responsable del tratamiento en determinados supuestos.</a></li>
                <li class="list-group-item"><a>Derecho de Supresión: Es el derecho a suprimir los datos de carácter personal del usuario, a excepción de lo previsto en el propio RGPD (libertad de expresión e información, obligaciones de conservación, formulación, ejercicio o defensa de reclamaciones, etc.).</a></li>
                <li class="list-group-item"><a>Derecho a la Portabilidad: El derecho a recibir los datos personales que el usuario haya facilitado, en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable cuando el tratamiento está basado en el consentimiento o en la ejecución de un contrato y se efectúe por medios automatizados.</a></li>
                <li class="list-group-item"><a>Derecho de Oposición: Es el derecho del usuario a que no se lleve a cabo el tratamiento de sus datos de carácter personal o se cese el tratamiento de los mismos por parte del sitio web cuando el tratamiento esté basado en el interés legítimo o el interés público o cuando se trate de tratamientos de mercadotecnia directa.</a></li>
                <li class="list-group-item"><a>Derecho a no ser objeto de decisiones automatizadas, incluida la elaboración de perfiles: Cuando el tratamiento no es necesario para la celebración o ejecución de un contrato, ni está autorizada por el Derecho de la Unión Europea o de los Estados miembros ni se basa en el consentimiento, tiene derecho a no ser objeto de una decisión basada únicamente en el tratamiento automatizado, incluida la elaboración de perfiles, que produzca efectos jurídicos o le afecte significativamente de modo similar.</a></li>
                <li class="list-group-item"><a>Derecho a retirar el consentimiento: Para cualquier tratamiento basado en su consentimiento, tiene derecho a retirarlo, en cualquier momento y de manera gratuita.
                Para ejercer cualquiera de los derechos en materia de protección de datos descritos anteriormente deberá seguir las siguientes indicaciones:</a></li>
                <li class="list-group-item"><a>Presentación de un escrito a la dirección Paseo de la Castellana, 194. BJ, B. 28046. Madrid. España. (a la atención de CREATIVETECNO IBERIA SL) o bien a través de correo electrónico a por correo electrónico a legal@creativetecno.com</a></li>
                <li class="list-group-item"><a>El escrito remitido por el titular de los datos personales (interesado/a) que solicite el ejercicio de derechos deberá tener en cuenta lo siguiente:
                    o Deberá identificarse fehacientemente y, en el caso de que concurran dudas sobre la identidad del solicitante, se le solicitará que subsane la petición (p. ej. solicitando más información, como el número de DNI, el documento del DNI, el correo electrónico que aportó, etc.)
                    o La solicitud puede realizarla el representante, legal o voluntario, cuando éste esté debidamente identificado y autorizado por el titular de los datos (mediante una autorización expresa del titular para ejercer los derechos personalísimos regulados en la normativa en materia de protección de datos personales).
                    o Petición en que se concreta la solicitud (Derecho/s que se pretende/n ejercer). Si no hace referencia a un tratamiento concreto se le facilitará respuesta en relación a todos los tratamientos que afectan a sus datos de carácter personal. Si solicita información de un tratamiento en concreto, sólo la información de éste. Si lo solicita por teléfono se le indicará que lo haga por escrito y se le informará de cómo lo puede hacer y la dirección a la que tiene que enviarlo. Nunca se le dará información por teléfono.
                    o Dirección postal o electrónica a efectos de notificaciones.
                    o Documentos acreditativos de la petición que formula, en caso de que sean necesarios.
                    o La persona solicitante debe utilizar cualquier medio que permita acreditar el envío y la recepción de la solicitud.</a></li>
             </ul>
             <p>
                Por último, le informamos que tiene derecho a presentar una reclamación ante la Agencia Española de Protección de Datos en caso de que tenga conocimiento o considere que un hecho pueda suponer un incumplimiento de la normativa aplicable en materia de protección de datos. CREATIVETECNO IBERIA SL se compromete a adoptar las medidas técnicas y organizativas necesarias, acorde al nivel de riesgos que acompañan los tratamientos realizados por éstas e indicados en el apartado de los términos y condiciones de uso, de forma que garanticen su integridad, confidencialidad y disponibilidad.
             </p>
             <h2>Política de privacida de RRSS</h2>
              <p><strong>Última actualización:</strong> 17/03/2023</p>
              <h4>
                POLÍTICA DE PRIVACIDAD REDES SOCIALES
              </h4>
              <p>
                De conformidad con lo establecido en la normativa vigente y aplicable de protección de datos de carácter personal y la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE), CREATIVETECNO IBERIA SL informa a los usuarios, que ha procedido a crear un perfil en la/s Red/es Social/es Facebook, Instagram, Linkedin, con la finalidad principal de publicitar sus productos y servicios. Datos de CREATIVETECNO IBERIA SL: 
              </p>
              <ul class="list-group">
                <li class="list-group-item"><a>NIF: B16768046</a></li>
                <li class="list-group-item"><a>DIRECCIÓN: Paseo de la Castellana. 194. P BJ, B. 28046. Madrid. España.</a></li>
                <li class="list-group-item"><a>CORREO ELECTRÓNICO: legal@creativetecno.com</a></li>
              </ul>
              <p>El usuario dispone de un perfil en la misma Red Social y ha decidido unirse a la página creada por CREATIVE TECNO IBERIA SL, mostrando así interés en la información que se publicite en la Red. Al unirse a nuestra página, nos facilita su consentimiento para el tratamiento de aquellos datos personales publicados en su perfil. El usuario puede acceder en todo momento a las políticas de privacidad de la propia Red Social, así como configurar su perfil para garantizar su privacidad. CREATIVETECNO IBERIA, SL tiene acceso y trata aquella información pública del usuario, en especial su nombre de contacto. Estos datos, sólo son utilizados dentro de la propia Red Social. No son incorporados a ningún sistema de tratamiento.</p>
              <h4>Derechos de los interesados</h4>
              <p>
                En relación a los derechos de acceso, rectificación, limitación de tratamiento, supresión, portabilidad y oposición al tratamiento de sus datos de carácter personal, de los que usted dispone y que pueden ser ejercitados ante CREATIVETECNO IBERIA SL, de acuerdo con la RGPD, debe tener en cuenta los siguientes matices:
              </p>
              <ul class="list-group">
                <li class="list-group-item"><a>Derecho de Acceso: Es el derecho del usuario a obtener información sobre sus datos concretos de carácter personal y del tratamiento que se haya realizado o realice, así como de la información disponible sobre el origen de dichos datos y las comunicaciones realizadas o previstas de los mismos.</a></li>
                <li class="list-group-item"><a>Derecho de Rectificación: Es el derecho del afectado a que se modifiquen los datos que resulten ser inexactos o incompletos. Sólo podrá satisfacerse en relación a aquella información que se encuentre bajo el control de CREATIVETECNO IBERIA SL, por ejemplo, eliminar comentarios publicados en la propia página, imágenes o contenidos web donde consten datos de carácter personal del usuario.</a></li>
                <li class="list-group-item"><a>Derecho a la Limitación de tratamiento: Es el derecho a que se limiten los fines del tratamiento previstos de forma original por el responsable del tratamiento.</a></li>
                <li class="list-group-item"><a>Derecho de Supresión: Es el derecho a suprimir los datos de carácter personal del usuario, a excepción de lo previsto en el propio RGPD o en otras normativas aplicables que determinen la obligatoriedad de la conservación de los mismos, en tiempo y forma.</a></li>
                <li class="list-group-item"><a>Derecho de portabilidad: El derecho a recibir los datos personales que el usuario, haya facilitado, en un formato estructurado, de uso común y lectura mecánica, y a transmitirlos a otro responsable.</a></li>
                <li class="list-group-item"><a>Derecho de Oposición: Es el derecho del usuario a que no se lleve a cabo el tratamiento de sus datos de carácter personal o se cese el tratamiento de los mismos por parte de CREATIVETECNO IBERIA SL</a></li>
              </ul>
              <h4 class="text-text-muted">CREATIVETECNO IBERIA SL se realizaran las siguientes actuaciones:</h4>
              <ul class="list-group">
                <li class="list-group-item"><a>Acceso a la información pública del perfil.</a></li>
                <li class="list-group-item"><a>Publicación en el perfil del usuario de toda aquella información ya publicada en la página de CREATIVE TECNO IBERIA SL.</a></li>
                <li class="list-group-item"><a>Publicación en el perfil del usuario de toda aquella información ya publicada en la página de CREATIVE TECNO IBERIA SL.</a></li>
                <li class="list-group-item"><a>Actualizaciones del estado de la página que se publicarán en el perfil del usuario.</a></li>
              </ul>
              <p>
                El usuario siempre puede controlar sus conexiones, eliminar los contenidos que dejen de interesarle y restringir con quién comparte sus conexiones, para ello deberá acceder a su configuración de privacidad.
              </p>
              <h4>Publicaciones</h4>
              <p>El usuario, una vez unido a la página de CREATIVETECNO IBERIA SL, podrá publicar en ésta última comentarios, enlaces, imágenes o fotografías o cualquier otro tipo de contenido multimedia soportado por la Red Social. El usuario, en todos los casos, debe ser el titular de los mismos, gozar de los derechos de autor y de propiedad intelectual o contar con el consentimiento de los terceros afectados. Se prohíbe expresamente cualquier publicación en la página, ya sean textos, gráficos, fotografías, vídeos, etc. que atenten o sean susceptibles de atentar contra la moral, la ética, el buen gusto o el decoro, y/o que infrinjan, violen o quebranten los derechos de propiedad intelectual o industrial, el derecho a la imagen o la Ley. En estos casos, CREATIVE TECNO IBERIA SL se reserva el derecho a retirar de inmediato el contenido, pudiendo solicitar el bloqueo permanente del usuario.

            CREATIVETECNO IBERIA SL no se hará responsable de los contenidos que libremente ha publicado un usuario
                
            El usuario debe tener presente que sus publicaciones serán conocidas por los otros usuarios, por lo que él mismo es el principal responsable de su privacidad.
                
            Las imágenes que puedan publicarse en la página no serán almacenadas en ningún sistema de tratamiento por parte de CREATIVETECNO IBERIA SL, pero sí que permanecerán en la Red Social.</p>
            <h4>Concursos y promociones</h4>
            <p>
                CREATIVETECNO IBERIA SL se reserva el derecho a realizar concursos y promociones, en los que podrá participar el usuario unido a su página. Las bases de cada uno de ellos, cuando se utilice para ello la plataforma de la Red Social, serán publicadas en la misma. Cumpliendo siempre con la LSSI-CE y con cualquier otra norma que le sea de aplicación.

                La Red Social no patrocina, avala ni administra, de modo alguno, ninguna de nuestras promociones, ni está asociada a ninguna de ellas.   
            </p>
            <h4>Publicidad</h4>
            <p>
                CREATIVETECNO IBERIA SL utilizará la Red Social para publicitar sus productos y servicios, en todo caso, si decide tratar sus datos de contacto para realizar acciones directas de prospección comercial, será siempre, cumpliendo con las exigencias legales de la normativa en materia de protección de datos y de la LSSI-CE.
                No se considerará publicidad el hecho de recomendar a otros usuarios la página de CREATIVETECNO IBERIA SL para que también ellos puedan disfrutar de las promociones o estar informados de su actividad.

                A continuación, detallamos el enlace a la política de privacidad de la Red Social:
            </p>
            <ul>
                <li><a href="https://www.facebook.com/privacy/center/">Facebook</a></li>
                <li><a href="https://www.facebook.com/privacy/center/">Instagram</a></li>
                <li><a href="https://es.linkedin.com/legal/privacy-policy?">Linkedin</a></li>

            </ul>

            </div>
          </main>
        </div>
    </div>
</section>

<!--footer-->
<section class="mt-lg-5 pt-5 pb-4 bg-gradient1 position-relative">
    <div class="container">
      <div class="row">
        <!-- Primera columna: Logo y descripción -->
        <div class="col-xl-4 col-lg-6 col-md-12 text-center text-lg-start">
          <a
            class="navbar-brand me-lg-4 mb-4 d-flex align-items-center justify-content-center justify-content-lg-start pt-0"
            [routerLink]="['/']"
          >
            <img src="assets/logos/logo_creative.png" class="" height="80" alt="Logo" />
          </a>
          <p class="text-muted w-100 w-lg-75 mx-auto mx-lg-0"></p>
        </div>
  
        <!-- Segunda columna: Links -->
        <div class="col-xl-auto col-lg-3 col-md-6 col-12 mt-4 mt-md-0 text-center text-md-start">
          <div class="ps-xl-5">
            <h6 class="mb-3 mt-3 fs-14 fw-semibold text-uppercase">Links</h6>
            <ul class="list-unstyled">
              <li class="my-3"><a [routerLink]="['/Contacto']" class="text-muted">Contacto</a></li>
              <li class="my-3">
                <a [routerLink]="['/']" class="text-muted" data-bs-toggle="modal" data-bs-target="#calendlyModal"
                  >Pruebalo ahora</a
                >
              </li>
            </ul>
          </div>
        </div>
  
        <!-- Tercera columna: Legal -->
        <div class="col-xl-auto col-lg-3 col-md-6 col-12 mt-4 mt-md-0 text-center text-md-start">
          <div class="ps-xl-5">
            <h6 class="mb-4 mt-3 fs-14 fw-semibold text-uppercase">Legal</h6>
            <ul class="list-unstyled">
              <li class="my-3"><a [routerLink]="['/Politicas']" class="text-muted">Aviso Legal</a></li>
              <li class="my-3"><a [routerLink]="['/Tyc']" class="text-muted">T&Cs</a></li>
              <li class="my-3"><a [routerLink]="['/PoliticasPrivacidad']" class="text-muted">Política de Privacidad</a></li>
              <li class="my-3"><a [routerLink]="['.']" class="text-muted">Política de Cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div class="row text-md-start text-center">
        <!-- Texto de derechos reservados -->
        <div class="col-md-8 mb-3 mb-md-0">
          <p class="pb-0 mb-0 text-muted">© CREATIVE HOLDINGS GROUP</p>
        </div>
        <!-- Íconos de redes sociales -->
        <div class="col-md-4 text-md-end">
          <ul class="list-unstyled d-flex justify-content-center justify-content-md-end mb-0">
            <li class="d-inline-block me-3">
              <a [routerLink]="['.']"><i data-feather="instagram" class="icon icon-xs"></i></a>
            </li>
            <li class="d-inline-block me-3">
              <a [routerLink]="['.']"><i data-feather="linkedin" class="icon icon-xs"></i></a>
            </li>
            <li class="d-inline-block">
              <a [routerLink]="['.']"><i data-feather="youtube" class="icon icon-xs"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
