
$fixed-column-width: 200px;
$fixed-column-background: #f0f0f0;

.tablebq {
  width: 100%;
  overflow-x: auto; 

  .fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #ffffff; 
  }
}





.holiduicon {
    max-width: 12vh;
    width: 100%;
    height: auto;
    
  }

  .aviratoicon {
    max-width: 4vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }
  .amenitizicon {
    max-width: 10vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }

  .redfortsicon {
    max-width: 10vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }
  
  .littlehicon {
    max-width: 10vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }

  .smoobuicon {
    max-width: 4vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }
  
  .octareicon {
    max-width: 5vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }

  $table-logo-size: 100px; // Tamaño máximo de ancho
  $table-logo-height: 50px; // Tamaño máximo de alto
  
  .table {
    th {
      text-align: center; // Centra el contenido dentro de las celdas
      padding: 10px; // Espaciado uniforme
  
      img.logo {
        display: block; // Trata la imagen como un bloque
        margin: 0 auto; // Centra la imagen horizontalmente
        max-width: $table-logo-size; // Ancho máximo para los logos
        max-height: $table-logo-height; // Alto máximo para los logos
        object-fit: contain; // Mantén las proporciones de las imágenes
      }
    }
  }
  