<style>
    
    .small-font {
      font-size: 10px; 
    }
  </style>
<section>
<div class="container table-responsive">
    
    <table class="table small-font">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">Funcionalidades</th>
            <th scope="col">Buqipi</th>
            <th scope="col">Holidu Hots</th>
            <th scope="col">Redforts</th>
            <th scope="col">Amenitiz</th>
            <th scope="col">Avirato</th>
            <th scope="col">Litle Hotelier</th>
            <th scope="col">Smoobu</th>
            <th scope="col">Octorate</th>
          </tr>
          
        </thead>
        
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-center">CHANNEL MANAGER</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          <tr>
            <th scope="row">Portales</th>
            <td>+255 Directos</td>
            <td>10 Directos</td>
            <td>+70 Directos</td>
            <td>+110 Directos</td>
            <td>+70 Directos</td>
            <td>+110 Directos</td>
            <td>+70 Directos</td>
            <td>+110 Directos</td>
          </tr>
          <tr>
            <th scope="row">Sincronización</th>
            <td>< 1 Minuto</td>
            <td>> 5 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
          </tr>
          <tr>
            <th scope="row">Multipropiedad sin coste adicional</th>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
          </tr>
          <tr>
            <th scope="row">Reglas automaticas de precios sin coste adicional</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
          </tr>
          <tr>
            <th scope="row">Conexión con Google gratis y sin comisiones</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">MOTOR DE RESERVAS</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Personalizable en logo y colores gratis</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
          </tr>
          <tr>
            <th scope="row">Dominio personalizable gratis</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
          </tr>
          <tr>
            <th scope="row">Diseño testado para aumentar la conversión</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
          </tr>
          <tr>
            <th scope="row">Reservas sin comisiones</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">PSM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Cuadrante de reservas</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
          </tr>
          <tr>
            <th scope="row">Facturación</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">Mensajería</th>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">Generación de contratos</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Check-in online</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Firma online de contratos</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Check-in presencial</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">Firma en tableta Wacom</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Estadistica y reportes</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">Conexión con I.N.E.</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Cerraduras electronicas Nuki y Ttlock</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Generación de codigo (cerradura) en check-in online</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Modulo de limpieza / partes</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">MENSAJES</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Envio automático confirmación / cancelación</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">Plantillas personalizadas ilimitadas</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">Programación de plantillas (antes/después check-in)</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">PAGOS</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Pasarela propia, puedes cobrar desde el alta. sin esperas</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Conexión por redys sin coste adicional</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">Sólo pago online motor</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Servicio cobro no obligatorio</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">Pagos 3DS (seguros) y pagos a distancia</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Reglas de cobro personalizadas y automáticas</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Fianzas (preautorizaciones) y validación de tarjeta</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Guardado y visualización seguro de tarjetas</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">Gestión de tarjetas no válidas en Booking.com</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">APLICACIÓN ANDROID</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Escáner de documentos y pasaportes</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Mismas funcionalidades que en PC</th>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">APLICACIÓN IPHONE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Escáner de documentos y pasaportes</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Mismas funcionalidades que en PC</th>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">CUENTA</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Usuarios ilimitados</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Roles de usuario</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Usuarios para propiedades / categorías especificas</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Inicio de sesión sin contraseña</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Notificaciones de reserva en todos los dispositivos</th>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Dispositivos ilimitados</th>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-center">SOPORTE Y ATT CLIENTE</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Misma persona encargada de tu cuenta</th>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Atención personalizada por whatsapp</th>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Atención personalizada por teléfono</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            
          </tr>
          <tr>
            <th scope="row">Atención personalizada por correo</th>
            <td class="text-center">✅</td>
            <td class="text-center">❌</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            <td class="text-center">✅</td>
            
          </tr>
          <tr>
            <th scope="row">SLA (Respuesta ante incidentes)</th>
            <td class="text-center">< 8 Horas 365/365</td>
            <td class="text-center">Sin SLA</td>
            <td class="text-center">Sin SLA</td>
            <td class="text-center">Sin SLA</td>
            <td class="text-center">Sin SLA</td>
            <td class="text-center">Sin SLA</td>
            <td class="text-center">Sin SLA</td>
            <td class="text-center">Sin SLA</td>
            
          </tr>
          
        </tbody>
      </table>
      
      
    </div>

</section>