
$fixed-column-width: 200px;
$fixed-column-background: #f0f0f0;

.tablebq {
  width: 100%;
  overflow-x: auto; 

  .fixed-column {
    position: sticky;
    left: 0;
    z-index: 1;
    background-color: #ffffff; 
  }
}





.holiduicon {
    max-width: 12vh;
    width: 100%;
    height: auto;
    
  }

  .aviratoicon {
    max-width: 4vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }
  .amenitizicon {
    max-width: 10vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }

  .redfortsicon {
    max-width: 10vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }
  
  .littlehicon {
    max-width: 10vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }

  .smoobuicon {
    max-width: 4vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }
  
  .octareicon {
    max-width: 5vh;
    // Si quieres que también sea responsiva en el contenedor
    width: 100%;
    height: auto;
  }
  