<style>
    
    .small-font {
      font-size: 10px; 
    }
  </style>
<section>
<div class="container table-responsive">
    <table class="table small-font">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Funcionalidades</th>
            <th scope="col">Buqipi</th>
            <th scope="col">Holidu Hots</th>
            <th scope="col">Redforts</th>
            <th scope="col">Amenitiz</th>
            <th scope="col">Avirato</th>
            <th scope="col">Litle Hotelier</th>
            <th scope="col">Smoobu</th>
            <th scope="col">Octorate</th>
          </tr>
          
        </thead>
        
        <tbody>
            <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td>CHANNEL MANAGER</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
          <tr>
            <th scope="row">Portales</th>
            <td>+255 Directos</td>
            <td>10 Directos</td>
            <td>+70 Directos</td>
            <td>+110 Directos</td>
            <td>+70 Directos</td>
            <td>+110 Directos</td>
            <td>+70 Directos</td>
            <td>+110 Directos</td>
          </tr>
          <tr>
            <th scope="row">Sincronización</th>
            <td>< 1 Minuto</td>
            <td>> 5 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
            <td>> 3 Minutos</td>
          </tr>
          <tr>
            <th scope="row">Multipropiedad sin coste adicional</th>
            <td>✅</td>
            <td>✅</td>
            <td>❌</td>
            <td>✅</td>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
          </tr>
          <tr>
            <th scope="row">Reglas automaticas de precios sin coste adicional</th>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
          </tr>
          <tr>
            <th scope="row">Conexión con Google gratis y sin comisiones</th>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>✅</td>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>MOTOR DE RESERVAS</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Personalizable en logo y colores gratis</th>
            <td>✅</td>
            <td>❌</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>❌</td>
            <td>✅</td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row">Dominio personalizable gratis</th>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
          </tr>
          <tr>
            <th scope="row">Diseño testado para aumentar la conversión</th>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>✅</td>
            <td>❌</td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row">Reservas sin comisiones</th>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
            <td></td>
            <td></td>
            <td>PSM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">Cuadrante de reservas</th>
            <td>✅</td>
            <td>❌</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row">Facturación</th>
            <td>✅</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>❌</td>
            <td>✅</td>
          </tr>
          <tr>
            <th scope="row">Mensajería</th>
            <td>✅</td>
            <td>✅</td>
            <td>❌</td>
            <td>✅</td>
            <td>❌</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
            <td>✅</td>
          </tr>
         
          
        </tbody>
      </table>
      
      
    </div>

</section>