<section class="position-relative bg-gradient4 overflow-hidden  pt-8 pb-7" data-aos="fade-up">
    <div class="container position-relative">
      <!-- Contenido principal -->
      <div class="row align-items-center text-center text-sm-center">
        <div class="col-lg-12">
          <div>
            <h1 class="hero-title display-2">
              Nuestros clientes lo <span class="highlight highlight-warning d-inline-block">aman.</span>
            </h1>
            <h1 class="hero-title">
              ¡Pruébalo ahora! <span class="d-inline-block"></span>
            </h1>
            <p class="fs-16 mt-3 text-muted">
              Empieza ahora sin compromiso. Te encantará.
            </p>
          </div>
        </div>
      </div>
      <!-- Botón -->
      <div class="text-center mt-4">
        <button class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#calendlyModal">Comenzar ahora</button>
      </div>
    </div>
  
    <!-- Imágenes SVG animadas -->
    <img src="assets/animacions/left-illustration.svg" alt="Left Decoration"
      class="animated-svg-left position-absolute start-0 top-50 translate-middle-y" />
    <img src="assets/animacions/right-illustration.svg" alt="Right Decoration"
      class="animated-svg-right position-absolute end-0 top-50 translate-middle-y" />
  </section>
  