<ul class="navbar-nav align-items-lg-center" [class]="navClass" id="top-menu">
    <li class="nav-item">
        <a class="nav-link top-nav-link-ref" [routerLink]="'/'" fragment="Producto" routerLinkActive="active">Producto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link top-nav-link-ref" [routerLink]="'/'" fragment="Caracteristicas"  routerLinkActive="active">Características</a>
    </li>
    <li class="nav-item">
        <a class="nav-link top-nav-link-ref" [routerLink]="'/'" fragment="Precios"  routerLinkActive="active">Precios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-cyanbuqipi top-nav-link-ref" [routerLink]="'/Contacto'" routerLinkActive="active" >Contacto</a>
    </li>
</ul>