.logosc{
   display: flex;
   justify-content: space-between;
   width: 120px;
   height: fit-content;
   
   
}
@media screen and (max-width: 800px) {
   .logosc {
      width: 80px;
      
   }
  
   
}