<section id="Producto">
  <div class="text-center h6">Más de 100 integraciones disponibles.</div>
  <div id="logoCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Item 1 -->
      <div class="carousel-item active">
        <div class="row justify-content-center align-items-center m-2">
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo1.png'" class="d-block img-fluid mx-auto" alt="Logo 1" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo2.png'" class="d-block img-fluid mx-auto" alt="Logo 2" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo3.png'" class="d-block img-fluid mx-auto" alt="Logo 3" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo4.png'" class="d-block img-fluid mx-auto" alt="Logo 4" />
          </div>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="carousel-item">
        <div class="row justify-content-center align-items-center m-2">
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo5.png'" class="d-block img-fluid mx-auto" alt="Logo 5" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo6.png'" class="d-block img-fluid mx-auto" alt="Logo 6" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo7.png'" class="d-block img-fluid mx-auto" alt="Logo 7" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo8.png'" class="d-block img-fluid mx-auto" alt="Logo 8" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-center align-items-center m-2">
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo9.png'" class="d-block img-fluid mx-auto" alt="Logo 9" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo10.png'" class="d-block img-fluid mx-auto" alt="Logo 10" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo11.png'" class="d-block img-fluid mx-auto" alt="Logo 11" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo12.png'" class="d-block img-fluid mx-auto" alt="Logo 12" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row justify-content-center align-items-center m-2">
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo13.png'" class="d-block img-fluid mx-auto" alt="Logo 13" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo14.png'" class="d-block img-fluid mx-auto" alt="Logo 14" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo15.png'" class="d-block img-fluid mx-auto" alt="Logo 15" />
          </div>
          <div class="col-3 col-sm-2">
            <img [src]="'assets/logos/logo16.jpg'" class="d-block img-fluid mx-auto" alt="Logo 16" />
          </div>
        </div>
      </div>
      <!-- Más elementos -->
    </div>
    <!-- Controles del carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#logoCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#logoCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</section>
