<section id="Producto">
  <div class="text-center h6 ">Más de 100 integraciones disponibles.</div>
  <div id="logoCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Item 1 -->
      <div class="carousel-item active">
        <div class="d-flex justify-content-center align-items-center">
          <img src="assets/logos/logo1.png" class="d-block mx-3" alt="Logo 1" style="height: 30px" />
          <img src="assets/logos/logo2.png" class="d-block mx-3" alt="Logo 2" style="height: 30px" />
          <img src="assets/logos/logo3.png" class="d-block mx-3" alt="Logo 3" style="height: 30px" />
          <img src="assets/logos/logo4.png" class="d-block mx-3" alt="Logo 4" style="height: 30px" />
          <img src="assets/logos/logo5.png" class="d-block mx-3" alt="Logo 5" style="height: 30px" />
          <img src="assets/logos/logo6.png" class="d-block mx-3" alt="Logo 6" style="height: 30px" />
          <img src="assets/logos/logo7.png" class="d-block mx-3" alt="Logo 7" style="height: 70px" />
          
          

        </div>
      </div>
      <!-- Item 2 -->
      <div class="carousel-item m-3">
        <div class="d-flex justify-content-center align-items-center">
          <img src="assets/logos/logo8.png" class="d-block mx-3" alt="Logo 8" style="height: 30px" />
          <img src="assets/logos/logo9.png" class="d-block mx-3" alt="Logo 9" style="height: 30px" />
          <img src="assets/logos/logo10.png" class="d-block mx-3" alt="Logo 10" style="height: 20px" />
          <img src="assets/logos/logo11.png" class="d-block mx-3" alt="Logo 11" style="height: 30px" />
          <img src="assets/logos/logo12.png" class="d-block mx-3" alt="Logo 12" style="height: 30px" />
          <img src="assets/logos/logo13.png" class="d-block mx-3" alt="Logo 13" style="height: 30px" />
          <img src="assets/logos/logo14.png" class="d-block mx-3" alt="Logo 14" style="height: 30px" />
          <img src="assets/logos/logo15.png" class="d-block mx-3" alt="Logo 15" style="height: 30px" />



          
          
        </div>
      </div>
    </div>
    <!-- Controles del carrusel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#logoCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#logo Carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>
</section>
