<section class="section pt-lg-5 pt-3 pb-3 position-relative" data-aos="fade-up">
  <div class="container">
      <div class="row align-items-center">
          <div class="col text-center">
              <ul class="list-inline list-with-separator">
                  <li class="list-inline-item me-0"><a [routerLink]="['/Contacto']">Contacto</a></li>
                  <li class="list-inline-item me-0"><a [href]="['https://calendly.com/landing/booking-badge?utm_campaign=sign_up&utm_medium=badge&utm_source=invitee']">Pruébalo ahora</a></li>
                  <li class="list-inline-item me-0"><a [routerLink]="['.']">Aviso legal</a></li>
                  <li class="list-inline-item me-0"><a [routerLink]="['.']">T&Cs</a></li>
                  <li class="list-inline-item me-0"><a [routerLink]="['.']">Política de Privacidad</a></li>
                  
                  <li class="list-inline-item me-0">
                      <a [routerLink]="['.']">Política de Cookies</a>
                  </li>
              </ul>
              <p class="mt-2 fs-14">
                  {{today | date: 'yyyy'}} © CREATIVE HOLDINGS GROUP
                  <a href="" target="_blank"></a>
              </p>

              <img src="assets/images/logo.png" height="40" class="mt-2 mb-4" alt="" />

              <!--redessociales-->
              <div class="align-items-end mt-md-0 mt-4">
                <ul class="list-unstyled mb-0">
                    <li class="d-inline-block azulbuqipi me-4">
                        <a [href]="['https://www.instagram.com/buqipi/']"><i data-feather="instagram" class="icon icon-xs"></i></a>
                    </li>
                    <li class="d-inline-block me-4">
                        <a [href]="['https://www.linkedin.com/company/buqipi/']"><i data-feather="linkedin" class="icon icon-xs"></i></a>
                    </li>
                    <li class="d-inline-block">
                        <a [href]="['https://www.youtube.com/']"><i data-feather="youtube" class="icon icon-xs"></i></a>
                    </li>
                </ul>
            </div>
          </div>
          
      </div>
  </div>
</section>