<app-navbar-3 navClass="bg-white navbar-light zindex-10" [fixedWidth]="true" [sticky]="true"
        ctaButtonClass="btn-warning btn-sm"></app-navbar-3>
<section>
    <div class="container mt-7">
        <h5 class="text-muted text-center mx-auto mb-1 pb-2 fs-3 fw-lighter">CONTÁCTANOS</h5>
    <h1 class="display-2 fw-semibold  mb-4 text-center">
           Estamos aquí para ayudarte
        </h1>
    </div>
    <div class="container mt-5">
        <div class="row">
          <!-- Card 1 -->
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="card shadow-lg w-auto">
              <div class="card-body text-center">
                <img src="./assets/svgcontact/44.svg" alt="" class="card-img-top mb-3 w-25 rounded-square">
                <h4 class="card-title text-muted"><span class="highlight highlight-warning d-inline-block">Delegación sur </span></h4>
                <p class="card-text fw-semibold display-6">Rosa de los Vientos, 25.
                    11140. Conil de la Fra.</p>
              </div>
            </div>
          </div>
          <!-- Card 2 -->
          <div class="col-md-4">
            <div class="card shadow-lg d-flex align-items-stretch">
              <div class="card-body text-center">
                <img src="./assets/svgcontact/45.svg" alt="" class="card-img-top mb-3 mt-3 w-25 rounded-square">
                <h4 class="card-title text-muted"><span class="highlight highlight-warning d-inline-block">Contacto </span></h4>
                <p class="card-text fw-semibold fs-3">hola@buqipi.com </p>
                <p class="card-text fw-semibold fs-3"> +34 622 736 736</p>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-md-4">
            <div class="card shadow-lg d-flex align-items-stretch">
              <div class="card-body text-center">
                <img src="./assets/svgcontact/46.svg" alt="" class="card-img-top  mb-3 w-25 rounded-square">
                <h5 class="card-title text-muted"><span class="highlight highlight-warning d-inline-block">Redes sociales </span></h5>
                <p class="card-text fw-semibold fs-3">Estamos en línea.</p>
                <img src="./assets/svgcontact/instagram.png" class="img-fluid" alt="logo instagram">
              </div>
            </div>
          </div>
        </div>
      </div>
      





</section>

<!---footer-->
<section class="section  bg-gradient3 position-relative mt-3 mb-4">
    

  <div class="container1 card shadow-lg mt-5">
    <div class="text-center"></div>
    <div class="card-body">
      <div class="text-center mb-4">
        <img src="assets/images/logo.png" alt="Logo" class="logo-img" />
      </div>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Nombre</label>
          <input type="text" id="name" class="form-control" formControlName="name" placeholder="Ingresa tu nombre" />
          <div *ngIf="contactForm.get('name')?.invalid && contactForm.get('name')?.touched" class="text-danger">
            Name is required.
          </div>
          
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" formControlName="email" placeholder="Ingresa tu correo" />
          <div *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched" class="text-danger">
            Please enter a valid email.
          </div>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Mensaje</label>
          <textarea
            id="message"
            class="form-control"
            formControlName="message"
            rows="4"
            placeholder="Escribe tu mensaje"
          ></textarea>
          <div *ngIf="contactForm.get('message')?.invalid && contactForm.get('message')?.touched" class="text-danger">
            Message is required.
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-info btn-lg" [disabled]="contactForm.invalid">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="mt-lg-5 pt-5 pb-4 bg-gradient1 position-relative">
    <div class="container">
      <div class="row">
        <!-- Primera columna: Logo y descripción -->
        <div class="col-xl-4 col-lg-6 col-md-12 text-center text-lg-start">
          <a class="navbar-brand me-lg-4 mb-4 d-flex align-items-center justify-content-center justify-content-lg-start pt-0" [routerLink]="['/']">
            <img src="assets/images/logo.png" class="" height="50" alt="Logo" />
          </a>
          <p class="text-muted w-100 w-lg-75 mx-auto mx-lg-0">
            Sistema intuitivo, seguro, completo y con infinitas posibilidades para tu establecimiento.
          </p>
        </div>
        
        <!-- Segunda columna: Links -->
        <div class="col-xl-auto col-lg-3 col-md-6 col-12 mt-4 mt-md-0 text-center text-md-start">
          <div class="ps-xl-5">
            <h6 class="mb-3 mt-3 fs-14 fw-semibold text-uppercase">Links</h6>
            <ul class="list-unstyled">
              <li class="my-3"><a [routerLink]="['/Contacto']" class="text-muted">Contacto</a></li>
              <li class="my-3"><a [href]="['www.caleny.com']" class="text-muted" data-bs-toggle="modal" data-bs-target="#calendlyModal">Pruebalo ahora</a></li>
            </ul>
          </div>
        </div>
        
        <!-- Tercera columna: Legal -->
        <div class="col-xl-auto col-lg-3 col-md-6 col-12 mt-4 mt-md-0 text-center text-md-start">
          <div class="ps-xl-5">
            <h6 class="mb-4 mt-3 fs-14 fw-semibold text-uppercase">Legal</h6>
            <ul class="list-unstyled">
              <li class="my-3"><a [routerLink]="['/Politicas']" class="text-muted">Aviso Legal</a></li>
              <li class="my-3"><a [routerLink]="['/Tyc']" class="text-muted">T&Cs</a></li>
              <li class="my-3"><a [routerLink]="['.']" class="text-muted">Política de Privacidad</a></li>
              <li class="my-3"><a [routerLink]="['.']" class="text-muted">Política de Cookies</a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr />
      <div class="row text-md-start text-center">
        <!-- Texto de derechos reservados -->
        <div class="col-md-8 mb-3 mb-md-0">
          <p class="pb-0 mb-0 text-muted">
             © CREATIVE HOLDINGS GROUP
          </p>
        </div>
        <!-- Íconos de redes sociales -->
        <div class="col-md-4 text-md-end">
          <ul class="list-unstyled d-flex justify-content-center justify-content-md-end mb-0">
            <li class="d-inline-block me-3">
              <a [routerLink]="['.']"><i data-feather="facebook" class="icon icon-xs"></i></a>
            </li>
            <li class="d-inline-block me-3">
              <a [routerLink]="['.']"><i data-feather="twitter" class="icon icon-xs"></i></a>
            </li>
            <li class="d-inline-block">
              <a [routerLink]="['.']"><i data-feather="linkedin" class="icon icon-xs"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

