<app-navbar-3
  navClass="bg-white navbar-light zindex-10"
  [fixedWidth]="true"
  [sticky]="true"
  ctaButtonClass="btn-warning btn-sm"
></app-navbar-3>
<app-home-modal></app-home-modal>
<section>
    <div class="container-fluid mt5">
        <div class="row justify-content-center">
          
              <!-- Nota informativa -->
          <main class="col-md-8 sm-auto col-lg-10 px-md-4">
            <div  class="mt-3">
              <h2>Nota informativa</h2>
              <p><strong>Última actualización:</strong> 22/12/2023</p>
              <h4>¿A qué servicios afecta?</h4>
              <p>
                Los términos y condiciones, política de privacidad, política de cookies y Aviso Legal aquí mostrados aplican
                única y exclusivamente al sitio web:
              </p>
              <ul>
                <li><a>www.bugji.com</a></li>
                <li><a>www.creativtecno.com</a></li>
                <li><a>www.creativtecno.es</a></li>
                <li><a>www.creativtecno.net</a></li>
              </ul>
              <h4>Productos y Servicios</h4>
              <p>
                Todos los productos y/o servicios que CREATIVTECNO IBERIA SL comercializa requieren de la firma de un contrato
                de Prestación de Servicios (PS). En el contrato PS se especificarán las condiciones generales y particulares
                de contratación, así como la aplicable política de privacidad, contratos de encargo de tratamiento de datos
                personales e información legal aplicable.
              </p>
              <p>
                Si necesita más información al respecto, puede ponerse en contacto con
                <a href="mailto:legal@creativtecno.com">legal@creativtecno.com</a>.
              </p>
            </div>
          </main>
        </div>
    </div>
</section>

<!--footer-->
<app-home-footer></app-home-footer>